body{
    background-color:#ffe6d6;
}
nav{
    background-color: rgb(0,0,0,0.4);
    height: 7%;
}
nav logo i{
    color: red;
    font-size: 2rem;
}
logo{
    font-size: 2.2rem;
    padding-left: 15px;
    font-family: 'Rye', cursive;
}
.nav-link{
    color:black;
    font-size: 1.3rem;
}
.nav-link:hover{
    color: white;
}
main{
    margin-top:7%;
    border : 1px solid black;
    padding:20px;
    border-radius: 10px;
}
p{
  font-size: 1.3rem; 
}
em{
    font-size: 1.3rem;
}
.tile{
    width: 300px;
    height: 270px;
    text-align: center;
    background: white;
    border: 1px solid black;
    padding:3px;
}
.tile p{
    font-size: 1em;
}
.tile img{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: 1px solid black;
}
#team{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 25px;
    
}
#students{
    display: flex;
    gap:25px;
}
#contact{
    height:300px;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    font-size:20px;
  }
  #contact h2{
   font-size:50px;
   color:white;
   margin-bottom: 5px;
  }
  #contact a{
    margin:10px;
    font-size:20px;
    text-decoration: none;
    color: black;
  }
  i{
    margin-right:5px;
  }
  #icons{
    display:flex;
    gap: 15px;
  }
  #icon:hover{
    transform:translate(0,10px);
  }
  footer{
      text-align: right;
      border-top:2px solid black;
  }